html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #dedede;
  font-family: 'Noto Serif JP', serif;
}
.contents{
  margin: 0 20px;
  margin-bottom: 50px;
}

/* sidebar */
.sidebar #nav-content{
  position: fixed;
  width: 15%;
  height: 100%;
  min-width: 200px;
  font-size: 100%;
  z-index: 3;
}


nav li{
  padding: 5px 0;
}
nav ul{
  list-style-type: none;
  padding: 0;
}

nav ul>ul{
  padding: 0 10px;
}

nav a{
  text-decoration: none;
  color: black;
}

nav li a:hover{
  text-decoration: underline;
}
/* header */
header{
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 4;
}
header h3{
  display: inline-block;
  text-align: center;
  /* margin: 0.8em 20px; */
  vertical-align: middle;
}
header h3 a{
  /* margin-block-start: 0.5em; */
  text-decoration: none;
  color: black;
}
/* language */
.language_choice{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  max-width: 15%;
  margin: 1.2em 20px;
  float: right;
}

.language_choice a{
  text-decoration: none;
  color: black;
}

.language_choice a:hover{
  text-decoration: underline;
}

.current_lang{
  text-decoration: underline !important;
}

.current{
  text-decoration: underline !important;
}


/* main - work */
.main{
  width: 70%;
  margin:0 15%;
  padding-top: 100px;
}

.works{
  display: grid;
  column-gap: 50px;
  row-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main a{
  text-decoration: none;
  color: black;
}

.image_wrapper{
  position:relative;
  overflow: hidden;
}
.image_wrapper:before{
  content:'';
  display:block;
  width:100%;
  height:0;
  padding-bottom:75%;
  background: #000000;
}

.image_wrapper img{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 101%;
  max-height: 101%;
  width: auto;
  height: auto;
}

.top-image{
  width: 100%;
}
.top-text{
  line-height: 1.3;
  height: calc(1.3em * 3);
}
.top-text p{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

/* .index-work{
border: medium solid white;
background: white;
} */

.sp-thumbnail {
  position: relative;
  /* width: 100%; */
  height: 100%;
}
.sp-thumbnail img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.play{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play i {
  display: block;
  color: #ffffff;
  opacity: 0.7;
  font-size: 3rem;
}

/* main - post */
.photos{
  width:55%;
  margin-right: 5%;
}
.work_description{
  width:55%;
  margin: 0 10px;
}
.work_about{
  display: flex;
}
.post-work a{
  text-decoration: underline;
}
.work_title{
  margin-top: 0;
  margin-block-end: 0em;
}
.sp-slide iframe{
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto !important;
}

.slider-pro iframe{
  width: 100%;
  height: auto;
}

.sp-grab{
  cursor: auto !important;
}

.work-details li{
  list-style-type: none;
  /* text-align: right; */
}

/* main - news */
.news li{
  list-style-type: none;
}

.news li a:hover{
  text-decoration: underline;
}



hr{
  border: none;
  border-top: 1.5px solid black;
}

/* footer */
footer{
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
}

@media (max-width: 1000px) {

  .main {
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
  }
  .works {
    display: grid;
    column-gap: 50px;
    row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .work_about{
    display: block;
  }
  .photos{
    width:100%
  }
  .work_description{
    width:95%;
    margin: 0;
  }
  header {
    text-align: center;
    background: #dedede;
  }
}

@media (max-width: 700px) {
  .works {
    display: grid;
    column-gap: 50px;
    row-gap: 1em;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 500px) {
    .works {
      display: grid;
      column-gap: 50px;
      row-gap: 1em;
      grid-template-columns: 1fr;
    }
  }
