<%- partial('_partial/head.ejs') %>
  <body>
    <%- partial('_partial/header.ejs')%>
    <div class="contents">
      <%- partial('_partial/sidebar.ejs')%>
      <div class="main">
        <%- body %>
      </div>
    </div>
    <!-- <footer>
      <p>Copyright 2019</p>
      <h2>Kiyu</h2>
    </footer> -->
  </body>
</html>
