<!DOCTYPE html>
<html>
<%- partial('_partial/head.ejs') %>
<body>
  <%- partial('_partial/header.ejs')%>
  <div class="contents">
    <%- partial('_partial/sidebar.ejs')%>
    <div class="main"><%- body %></div>
    <div class="right_column"></div>
  </div>
  <footer>
    <!-- <p>Copyright 2019</p>
    <h2>Kiyu</h2>-->
  </footer> 
  <script>
    // make meta og image
    $('meta[name="twitter:image"]')[0].content = $('img').map(function(i){return this.src})[0]
  </script>
</body>
</html>
