<%
if(page.path.indexOf("work/") != -1){
  //work
  if(page.path.indexOf("en/") == -1){
    href_en = url_for("/en/" + page.path)
    href_ja = url_for(page.path)
  }else{
    href_en = url_for(page.path)
    href_ja = url_for(page.path.replace("en/", ""))
  }
}else{
  if(page.path.indexOf("en/") == -1){
    // ja
    href_en = url_for(page.path).replace("ja/", "en/")
    href_ja = url_for(page.path)
  }else{
    href_en = url_for(page.path)
    href_ja = url_for(page.path.replace("en/", "ja/"))
  }
}
if(page.path.indexOf("en/") == -1){
  lang = "ja";
}else{
  lang = "en";
}

%>
<header>
  <h3><a href="<%- url_for(lang+"/work/").replace("ja/", "") %>">Kiyu Nishida</a></h3>
  <div class="language_choice"><a id="lang_ja" href="<%- href_ja %>">ja.</a>&nbsp;&nbsp;&nbsp;<a id="lang_en" href="<%- href_en %>">en.</a></div>
  <label id="nav-open" for="nav-input"><span></span></label>
  <label class="nav-unshown" id="nav-close" for="nav-input"></label>
</header>
